body{
    background-color:#000;
    color:#fff;
    font-size:14px;
    font-family:Barlow, sans-serif !important;
}
/*A title Invstigation company*/
.title-heading{
    font-size: 18px;
    font-family: barlow, sans-serif;
}
.nav-color{
    background-color:black;
    color:white;
}
.navbar-logo {
    color: white;
    font-size: 30px;
}
.nav-text-color{
    color:white !important;
    font-family:barlow,sans-serif;
}
.img-container{
    /* height: 100vh;
    width:100%;
    background-image: url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726142385/picture_2_clvpku.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;     */
    height: 450px; /* You can change this value to control the height */
    width: 650px; /* You can change this value to control the width */
    /* background-image: url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726142385/picture_2_clvpku.jpg"); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px auto; /* Center the container horizontally */
    border: 2px solid #000; /* Optional: Add a border for visibility */
    transition:5s;

    animation-name:animate;
    animation-direction:alternate-reverse;
    animation-duration:30s;
    animation-fill-mode:forwards;
    animation-iteration-count: infinite;
    animation-play-state:running;
    animation-timing-function:ease-in-out;

}
@keyframes animate{

    0%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726142392/picture_3_ty2dmc.jpg")
    }
    20%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726142400/picture_4_igg0bc.jpg")
    }
    40%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726487340/picture_1_qablhw.jpg")
    }
    60%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726487848/picture1_fsk6yn.jpg")
    }
    80%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726487952/picture2_pxttjq.png")
    }100%{
        background-image:url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726488037/picture3_pya0fb.jpg")
    }
}

@media screen and (min-width: 480px) {
    .img-container{
        height: 250px; /* You can change this value to control the height */
        width: 350px; /* You can change this value to control the width */
        /* background-image: url("https://res.cloudinary.com/dvpstnioo/image/upload/v1726142385/picture_2_clvpku.jpg"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 20px auto; /* Center the container horizontally */
        border: 2px solid #000; /* Optional: Add a border for visibility */
        transition: 5s;
    }
  }
  .wrap{
    color: white; 
    border-right: 0.08em solid white;
    font-family:Barlow, sans-serif !important;
    text-align:center;
  }
  .typeWriting-page-text{
    text-align:center;
    font-size:20px;
  }
  .card-color{
    background-color:black;
  }
  .card-text{
    font-family:barlow,sans-serif; 
    font-size: 15px;
  }
  .text-items-alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  